@font-face {
    font-family: 'EtelkaLightProRegular';
    src: url('../fonts/etelka-light-pro_16165.eot');
    src: url('../fonts/etelka-light-pro_16165.eot') format('embedded-opentype');
    src: local('☺'),
         url('../fonts/etelka-light-pro_16165.woff2') format('woff2'),
         url('../fonts/etelka-light-pro_16165.woff') format('woff'),
         url('../fonts/etelka-light-pro_16165.ttf') format('truetype'),
         url('../fonts/etelka-light-pro_16165.svg#EtelkaLightProRegular') format('svg');
}
@font-face {
    font-family: 'HeliosCondBold';
    src: url('../fonts/helioscondbold.eot');
    src: url('../fonts/helioscondbold.eot') format('embedded-opentype');
    src: local('☺'),
         url('../fonts/helioscondbold.woff2') format('woff2'),
         url('../fonts/helioscondbold.woff') format('woff'),
         url('../fonts/helioscondbold.ttf') format('truetype'),
         url('../fonts/helioscondbold.svg#HeliosCondBold') format('svg');
}
@font-face {
    font-family: 'HeliosCondRegular';
    src: url('../fonts/helioscond.eot');
    src: url('../fonts/helioscond.eot') format('embedded-opentype');
    src: local('☺'),
         url('../fonts/helioscond.woff2') format('woff2'),
         url('../fonts/helioscond.woff') format('woff'),
         url('../fonts/helioscond.ttf') format('truetype'),
         url('../fonts/helioscond.svg#HeliosCondRegular') format('svg');
}
@font-face {
    font-family: 'HattoriHanzoLight';
    src: url('../fonts/hattori_hanzo_light.eot');
    src: url('../fonts/hattori_hanzo_light.eot') format('embedded-opentype');
    src: local('☺'),
         url('../fonts/hattori_hanzo_light.woff2') format('woff2'),
         url('../fonts/hattori_hanzo_light.woff') format('woff'),
         url('../fonts/hattori_hanzo_light.ttf') format('truetype'),
         url('../fonts/hattori_hanzo_light.svg#HattoriHanzoLight') format('svg');
}
@font-face {
    font-family: 'HeliosBold';
    src: url('../fonts/heliosbold.eot');
    src: url('../fonts/heliosbold.eot') format('embedded-opentype');
    src: local('☺'),
         url('../fonts/heliosbold.woff2') format('woff2'),
         url('../fonts/heliosbold.woff') format('woff'),
         url('../fonts/heliosbold.ttf') format('truetype'),
         url('../fonts/heliosbold.svg#HeliosBold') format('svg');
}



a{text-decoration:none; color:#000000;}
a:hover{text-decoration:none;}
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { 
  vertical-align: baseline; 
  font-family: inherit; 
  font-weight: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
  border: 0;  } 
/* remember to define focus styles! */ 
:focus {outline: 0;} 
body {background: #fff;line-height: 1;color: black;position: relative; min-width: 1120px;} 
ol, ul {list-style: none;} 
/* tables still need cellspacing="0" in the markup */ 
table {border-collapse: separate;border-spacing: 0;} 
caption, th, td {font-weight: normal;text-align: left;} 
/* remove possible quote marks (") from <q> & <blockquote> */ 
blockquote:before, blockquote:after, q:before, q:after {content: "";} 
blockquote, q {quotes: "" "";} 

.nav {
	height: 65px;
	border-bottom: 1px solid #dcdcdc;
	border-top: 1px solid #fff;
	background: linear-gradient(to bottom, #e2e5ea 0%,#ffffff 100%); 
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
.nav .logo {
	float: left;
	margin: 8px 0 0 55px;
}
.nav .contact_number,
.header .to_company {
	float: right;
	height: 32px;
	border-bottom: 1px solid #a71841;
	border-top: 1px solid #ee96af;
	background: #dc2055;
	width: 183px;
	color: #fff;
	font: 17px/32px EtelkaLightProRegular;
	text-align: center;
	margin: 18px 55px 0 0;
	border-radius: 2px;
}
.nav .contact_number:hover,
.header .to_company:hover {
	background: #0e3564;
	border-color: #416084;
}
.nav ul {
	width: 565px;
	margin: 29px auto 0;
	overflow: hidden;
}
.nav ul a {
	font: 16px EtelkaLightProRegular;
	color: #252525;
	display: inline-block;
	float: left;
	margin: 0 0 0 20px;
}
.nav ul a.active,
.nav ul a:hover {
	color: #5b7dbe;
}
.nav ul li:first-child a {
	margin: 0;
}
.header {
	min-height: 480px;
	background: url(../images/header_bg.png) repeat-x 0 0;
	overflow: hidden;
}
.header .to_company {
	width: 255px;
	height: 40px;
	margin: 50px 0 0 78px;
	line-height: 40px;
	font-size: 19px;
	border: none;
	float: inherit;
	display: block;
}
.wrapper {
	width: 90.5%;
	padding-left: 9.5%;
	margin: 0 auto;
}
.wrapper h1 {
	width: 600px;
	color: #2c4f78;
	font: 57px/58px HeliosCondBold;
	margin: 100px 0 35px 78px;
	text-transform: uppercase;
}
.header p {
	padding-left: 9.5%;
}
.header p,
.header p a {
	margin: 0 170px 0 78px;
	font: 30px/35px HeliosCondRegular;
	color: #2c4f78;
}
.header p a {
	color: #e4517a;
	margin: 0;
	display: inline-block;
	border-bottom: 1px dashed;
}
.header p a:hover {
	border: none;
}
.terms_coop {
	overflow: hidden;
}
.terms_coop ul {
	padding-left: 9.5%;
}
.terms_coop ul li {
	float: left;
	width: 250px;
	margin: 0 0 0 8%;
}
.terms_coop ul li:first-child {
	margin: 0 0 0 78px;
}
.terms_coop li .terms_img {
	height: 177px;
	padding: 31px 0 0;
	text-align: center;
}
.terms_coop li .terms_img_second {
	padding: 0;
	height: 208px;
}
.terms_coop li p {
	font: 21px/25px HeliosCondBold;
	color: #2d5078;
	text-align: center;
}
.terms_coop li p span {
	color: #e4517a;
}
.advantag {
	min-height: 1500px;
	background: url(../images/advantag_bg2.png) no-repeat top center, url(../images/advantag_bg1.png) repeat-x 0 350px;
	padding: 30px 0 120px;
}
.advantag h1 {
	margin: 0 0 0 70px;
}
.advantag .adv_level {
	font: 19px/25px HattoriHanzoLight;
	color: #fff;
	text-align: center;
}
.advantag .adv_level1 {
	margin: 155px 0 70px;
}
.advantag .adv_level3 {
	margin: 75px 0 80px;
}
.advantag .adv_level5 {
	margin: 60px 0;
}
.advantag .adv_level7 {
	margin: 60px 0;
}
.advantag .adv_detail {
	font: 21px/28px HeliosCondBold;
	color: #2d5078;
	text-align: center;
	width: 760px;
	margin: 105px auto 0;
}
.advantag .adv_detail span {
	color: #e4517a;
}
.advantag .our_customers {
	overflow: hidden;
	margin: 200px 0 0;
}
.advantag .our_customers h1 {
	/*background: url(../images/our_customers_bg.png) no-repeat 0 20px;*/
	margin: 0;
	padding: 0 0 0 70px;
}
.advantag .our_customers p,
.partners p {
	font: 19px/25px HattoriHanzoLight;
	color: #2c4f78;
	margin: 0 75px 30px;
	padding-left: 9.5%;
}
.advantag .our_customers .customer {
	height: 85px;
	overflow: hidden;
	background: #fff;
}
.advantag .our_customers .customer li {
	float: left;
	line-height: 85px;
	margin: 0 0 0 6%;
}
.advantag .our_customers .customer li  img {
	vertical-align: middle;
}
.advantag .our_customers ul {
	padding-left: 9.5%;
}
.advantag .our_customers .customer li:first-child {
	margin: 0 0 0 78px;
}
.partners {
	overflow: hidden;
	margin: 0 0 35px;
}
.partners .wrapper h1 {
	margin-top: 0;
}
.partners p {
	margin-bottom: 45px;
}
.partners .tabs_header {
  overflow: hidden;
  margin: 0 0 35px 65px;
}
.partners .tabs_header li {
  float: left;
}
.partners .tabs_header li a {
  font: 20px HattoriHanzoLight;
  border-bottom: 1px dashed #8aa4b1;
  text-decoration: none;
  margin: 9px 36px 0;
  color: #e4517a;
  display: inline-block;

}
.partners .tabs_header li.active a,
.partners .tabs_header li a:hover {
  margin: 0 12px;
  color: #fff;
  background-color: #e4517a;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  padding: 0 24px;
}
.partners .tabs_container {
  overflow: hidden;
  position: relative;
  margin: 0 20px 0 78px;
  padding-left: 9.5%;
}
.partners .tabs_container li.one_tab {
  margin: 0 auto;
  display: none;
}
.partners .tabs_container li.one_tab.active {
  display: block;
}
.partners .tabs_container table {
	width: 100%;
}
.partners .tabs_container table thead {
	line-height: 60px;
}
.partners .tabs_container table tr td {
	font: 17px HattoriHanzoLight;
	color: #9fa8b1;
	vertical-align: middle;
	width: 18%;
}
.partners .tabs_container table tr td:first-child {
	font: 16px/20px HeliosBold;
	color: #2d5078;
}
.about_company {
	position: relative;
	width: 1120px;
	padding-left: 9.5%;
}
.about_company .wrapper {
	padding: 70px 0 0 0;
	overflow: hidden;
	width: 1120px;
}
.about_company .wrapper p {
	width: 570px;
	margin: 0 0 0 78px;
	font: 19px/25px HattoriHanzoLight;
	color: #2c4f78;
}
.about_company .wrapper h1 {
	margin: 0 0 40px 78px;
}
.about_company .wrapper h2 {
	font: 33px/34px HeliosCondRegular;
	color: #2d5078;
	width: 600px;
	float: right;
	margin: 140px 0 0;
}
.about_company .about_company_right {
	position: absolute;
	right: 20px;
	top: 0;
	width: 389px;
	height: 457px;
	background: url(../images/about_company_right_bg.png) no-repeat;
}
.about_company .about_company_right p {
	width: 270px;
	font: 17px/24px HattoriHanzoLight;
	color: #94a8c0;
	margin: 120px 0 0 65px;
}
.about_company .about_company_right p span {
	line-height: 17px;
	border-bottom: 1px dashed;
}
.about_company .team {
	width: 81.85%;
	margin: -40px 0 80px 33px;
	background: url(../images/team_face.png) no-repeat 0 0;
	position: relative;
	overflow: hidden;
}
.about_company .team .line {
	background: url(../images/team_line.png) repeat-x 0 0;
	height: 8px;
	width: 80.91603053435115%;
	left: 207px;
	position: absolute;
	bottom: 70px;
}
.about_company .team .first_static {
	float: left;
	background: url(../images/first_static_bg.png) no-repeat -15px 0;
	width: 93px;
	height: 117px;
	margin: 80px 0 0 364px;
}
.about_company .team .first_static h3 {
	font: 38px HeliosCondBold;
	line-height: 50px;
	color: #cad1da;
	margin: 38px 0 30px -6px;
	text-align: center;
}
.about_company .team .first_static p {
	color: #2d5078;
	font: 21px HeliosCondBold;
}
.about_company .team .second_static {
	float: right;
	width: 370px;
	text-align: center;
	background: url(../images/team_img1.png) no-repeat center 0;
	margin: 80px 20px 0 0;
}
.about_company .team .second_static h3 {
	font: 39px HeliosCondBold;
	line-height: 50px;
	color: #cad1da;
	margin: 38px 0 30px -14px;
}
.about_company .team .second_static p {
	color: #2d5078;
	font: 21px HeliosCondBold;
}
.about_company .team .second_static p span {
	color: #e4517a;
}
.about_company .team .static {
	overflow: hidden;
}
.about_company .team .person_team {
	margin: 45px 0 0 370px;
}
.about_company .team .person_team h4 {
	color: #b3bcc8;
	font: 24px HeliosCondRegular;
	text-transform: uppercase;
	margin: 0 0 10px;
}
.about_company .team .person_team p {
	color: #a7aebc;
	font: 20px HeliosCondBold;
}
.footer {
	height: 508px;
	background: #667ab3;
	margin: 70px 0 0;
	position: relative;
}
.border_title {
	height: 10px;
	width: 203px;
	background: #e4517a;
	float: left;
	margin: -40px 0 0 -9.5%;
}
.our_customers .border_title {
	margin: -40px 0 0 0.5%;
}
.footer .wrapper {
	position: relative;
	z-index: 2;
	color: #fff;
	padding: 85px 0 0;
}

.footer a{
	color: #fff;
}

.footer h5 {
	margin: 0 0 60px 6.964285714285714%;
	font: 54px HeliosCondBold;
	text-transform: uppercase;
}
.footer table {
	margin: 0 0 0 6.964285714285714%;
}
.footer table tr td {
	font: 19px/26px HeliosCondRegular;
}
.footer table tr td:first-child {
	width: 125px;
	font: 19px/26px HeliosCondBold;
}
.footer .map {
	width: 400px;
	height: 400px;
	overflow: hidden;
	border-radius: 200px;
	position: absolute;
	left: 42%;
	top: 54px;
}
.footer .callback {
	width: 600px;
	margin: 63px auto 0;
	overflow: hidden;
	position: relative;
	z-index: 2;
	height: 43px;
	line-height: 43px;
}
.footer .callback span {
	font: 27px/43px EtelkaLightProRegular;
	color: #d2d9ed;
	display: inline-block;
	margin: 0 5px 0 0;
}
.footer .callback input[type="text"] {
	width: 182px;
	height: 41px;
	border: 1px solid #d2d9ed;
	padding: 0 10px;
	font: 27px EtelkaLightProRegular;
	color: #d2d9ed;
	border-radius: 1px;
}
.footer .callback input[type="text"].code {
	width: 72px;
}
.footer .callback input[type="submit"] {
	width: 224px;
	height: 46px;
	background: #dc2055;
	color: #fff;
	border: none;
	padding: 0;
	cursor: pointer;
	font: 17px/46px EtelkaLightProRegular;
}
.footer .copyright {
	position: absolute;
	bottom: 13px;
	left: 0;
	font: 14px EtelkaLightProRegular;
	color: #fff;
	opacity: 0.4;
}
.we_offer {
	overflow: hidden;
}
.we_offer .wrapper h1 {
	width: 700px;
}
.we_offer .tabs_header {
  margin: 0 0 0 75px;
}
.we_offer .tabs_header li {
  float: left;
  position: relative;
}
.we_offer .tabs_header li a {
  font: 20px HattoriHanzoLight;
  text-decoration: none;
  color: #e4517a;
  display: inline-block;

}
.we_offer .tabs_header li a .text {
  border-bottom: 1px dashed #e4517a;
  display: inline-block;
}
.we_offer .tabs_header li a span.coma {
	display: inline-block;
	margin: 0 4px 0 2px;
}
.we_offer .tabs_header li.active a .text,
.we_offer .tabs_header li a:hover .text,
.we_offer .tabs_header li a:hover .coma,
.we_offer .tabs_header li.active a .coma {
	color: #667f9c;
	border-color: #667f9c;
}
.we_offer .tabs_container {
  overflow: hidden;
  position: relative;
  margin: 0 20px 0 65px;
  float: left;
  width: 100%;
  padding: 0 0 150px 0;
}
.we_offer .tabs_container li.one_tab {
  margin: 0 auto;
  display: none;
  position: relative;
}
.we_offer .tabs_container li.one_tab p {
	font: 19px/25px HattoriHanzoLight;
	color: #7a818c;
}
.we_offer .tabs_container li.one_tab.active {
  display: block;
}
.we_offer .tabs_container .tabs_border {
	width: 700px;
	padding: 60px;
	border: 14px solid #e4517a;
	margin: 65px 0 0;
	position: relative;
	opacity: 0.95;
	z-index: 3;
	background: #fff;
}
.we_offer .tabs_header li.active:after {
	content: '';
	width: 87px;
	height: 54px;
	position: absolute;
	z-index: 4;
	bottom: -79px;
	left: 20%;
	background: url(../images/tabs_triangle.png) no-repeat 0 0 ;
}
.we_offer .tabs_container .tab_img {
	position: absolute;
	z-index: 2;
	top: -60px;
	right: 50px;
}
.we_offer .tabs_container .for_hover {
	width: 56px;
	height: 56px;
	position: absolute;
	z-index: 4;
	right: 115px;
	top: 110px;
	background: url(../images/for_hover.png) no-repeat 0 0;
	border-radius: 29px;
	cursor: pointer;
}
.we_offer .tabs_container .for_hover_popup {
	padding: 31px 28px 41px;
	background: #f2f2f2;
	border: 1px solid #9f9f9f;
	position: absolute;
	right: 173px;
	top: 11px;
	z-index: 5;
	width: 310px;
	min-height: 93px;
	display: none;
}
.we_offer .tabs_container .for_hover_popup .title_popup {
	font: 23px HeliosCondRegular;
	color: #2d5078;
	margin: 0 0 20px;
}
.we_offer .tabs_container .for_hover_popup .text_popup {
	font: 17px/22px HattoriHanzoLight;
	color: #7a818c;
}
.news .title h1 {
	display: inline-block;
	position: relative;
	width: 495px;
}
.news .title h1 .border_title {
	height: 10px;
	width: 350px;
	background: #e4517a;
	float: inherit; 
	margin: 60px 0 0 -18.5%;
	position: absolute;
}
.news .title a {
	color: #e4517a;
	text-transform: uppercase;
	font: 30px HeliosCondBold;
	display: inline-block;
	text-decoration: underline;
	margin-left: 15px;
}
.news .title a:hover {
	text-decoration: none;
}
.one_news {
	overflow: hidden;
	margin: 20px 0 0 0;
}
.one_news .data_news {
	float: left;
	font: 18px/29px HeliosCondBold;
	color: #aebad3;
	width: 102px;
}
.one_news .text_news {
	float: left;
	width: 84%;
	display: block;
}
.one_news .text_news a {
	display: inline-block;
	font: 19px/25px HattoriHanzoLight;
	color: #e4517a;
	text-decoration: underline;
}
.one_news .text_news a:hover {
	text-decoration: none;
}
@media only screen and (max-width: 1700px) {
	.terms_coop ul li {
		margin: 0 0 0 6%;
	}
	.advantag .our_customers .customer li {
		margin-left: 5%;
	}
}
@media only screen and (max-width: 1500px) {
	.terms_coop ul li {
		margin: 0 0 0 2%;
	}
	.advantag .our_customers .customer li {
		margin: 0 0 0 4%;
	}
}
@media only screen and (max-width: 1300px) {
	.terms_coop ul li {
		margin: 0;
	}
	.advantag .our_customers .customer li {
		margin: 0 0 0 4%;
	}
}
@media only screen and (max-width: 1200px) {
	.terms_coop ul li {
		width: inherit;
	}
	.advantag .our_customers .customer li {
		margin: 0 0 0 3%;
	}
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.slides {display: block; margin: 0 250px 0 0;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; margin: 0 0 0 78px;}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 25px; position: absolute; top: 25px;right: 180px; text-align: center;}
.flex-control-nav li {margin: 8px 0; zoom: 1;}
.flex-control-paging li a {width: 18px; height:18px; border: 4px solid #fff; border-radius: 13px; display: block; background: #97a6c7; cursor: pointer; text-indent: -9999px; }
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active { background: #fff; cursor: default; border-color: #e4517a; }
.flex-control-paging li a:hover {
	cursor: pointer;
}
.modal_all_bg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	visibility: hidden;
	background: rgba(66,97,133,0.9);

	z-index: 111;
}
.modal {
	display: block;
	visibility: hidden;
	position: fixed;
	width: 971px;
	height: 700px;
	z-index: 112;
	background: #fff;
}
.modal .modal_close {
	width: 32px;
	height: 31px;
	background: url(../images/modal_close.png);
	position: absolute;
	top: 21px;
	right: 25px;
	cursor: pointer;
}
.modal .modal_title {
	color: #2d5078;
	font: 42px HeliosCondBold;
	margin: 52px 0 0 60px;
	text-transform: uppercase;
}
.title_border_bottom {
	height: 10px;
	width: 312px;
	background: #e4517a;
	margin: 17px 0 33px -22px;
}
#modal_arhiv .tabs_header {
  overflow: hidden;
  margin: 0 0 35px 60px;
}
#modal_arhiv .tabs_header li {
  float: left;
}
#modal_arhiv .tabs_header li a {
	font: 20px HattoriHanzoLight;
	border-bottom: 1px dashed #e4517a;
	text-decoration: none;
	margin: 0 20px 0;
	color: #e4517a;
	display: inline-block;
	height: 36px;
	line-height: 36px;
}
#modal_arhiv .tabs_header li.active a,
#modal_arhiv .tabs_header li a:hover {
  color: #fff;
  background-color: #e4517a;
  border-radius: 18px;
  border: none;
  margin: 0 5px;
  padding: 0 15px;
}

#modal_arhiv .tabs_container li.one_tab {
  margin: 0 auto;
  display: none;
}
#modal_arhiv .tabs_container li.one_tab.active {
  display: block;
}
#modal_arhiv .tabs_header li.li_title {
	color: #2d5078;
	font: 19px HeliosCondBold;
	text-decoration: none;
	margin: 9px 20px 0 0;
	display: inline-block;
}
#modal_news .text_news {
	max-height: 360px;
	overflow: hidden;
	float: inherit;
	width: 865px;
	margin: 0 40px 0 60px;
	position: relative;
}
#modal_news .data_news {
	float: inherit;
	margin: 35px 0 40px 60px;
}
#modal_news .text_news .news_title {
	font: 27px/35px HeliosCondBold;
	color: #2d5078;
	margin: 0 30px 20px 0;
}
#modal_news .text_news .full_text_news {
	font: 19px/25px HattoriHanzoLight;
	color: #7a818c;
	margin: 0 30px 0 0;
}
#modal_news  .go_arh_news a {
	font: 19px HeliosCondBold;
	color: #e4517a;
	position: relative;
	margin: 0 0 0 60px;
}
#modal_news .go_arh_news a:before {
	content: '';
	width: 9px;
	height: 13px;
	background: url(../images/go_arhive.png) no-repeat 0 0;
	position: absolute;
	top: 0px;
	left: -15px;
}
#modal_arhiv .tabs_container {
  overflow: hidden;
  position: relative;
  margin: 0 20px 0 65px;
  max-height: 400px;
  box-shadow:inset 0 -25px 55px -35px #fff;
}

@media screen and (max-width: 1000px) {
	.advantag .adv_level {
		font: 17px/19px HattoriHanzoLight;
	}
/*	.advantag .adv_level1 {
		background: red;
	}
	.advantag .adv_level2 {
		background: yellow;
	}
	.advantag .adv_level3 {
		background: green;
	}
	.advantag .adv_level4 {
		background: pink;
	}
	.advantag .adv_level5 {
		background: brown;
	}
	.advantag .adv_level6 {
		background: black;
	}
	.advantag .adv_level7 {
		background: blue;
	}*/
}